{% extends "base.html" %}
{% block body %}

<div class="jumbotron mt-3">
    <h1 class="display-4"><strong>Delete Account?</strong></h1>
    <strong class="lead"><strong></strong> Deleting your Account, You will loose All your Assets and Game History.</strong></p>
    <p class="lead">Please Confirm that You withdrawn All your Money and take a Snapshot of Your History.</p>
    <hr class="my-4">
    <p>If you are Done?</p>
    <a class="btn btn-danger" href="/delete" role="button">Confirm Delete</a>
  </div>

{% endblock %}